<nav class="nav navbar-side flex-column">
    <a class="nav-link" href="#">Home</a>
    <a class="nav-link" href="#">Manage Role Assignment</a>
    <a class="nav-link" href="#">Manage Project Users</a>
    <a class="nav-link" href="#">My Projects</a>
    <a class="nav-link" href="#">My Tickets</a>
    <a class="nav-link" href="#">User Profile</a>
</nav>