<nav class="nav navbar-side flex-column">
    <a class="nav-link" href="/home">Home</a>
    <a class="nav-link disabled" href="#">User Management</a>
    <a class="nav-link" href="/projects">My Projects</a>
    <a class="nav-link disabled" href="#">My Tickets</a>
    <a class="nav-link disabled" href="#">User Profile</a>
</nav>