<nav class="nav navbar navbar-expand-sm navbar-main">
    <ul class="nav navbar-nav user-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Logged in as: <span class="capitalize"><%= currentUser.username %></span></a>
        </li>
    </ul>
    <ul class="nav navbar-nav project-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Project
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">New Project</a></li>
            </ul>
        </li>
        <li class="nav-item create">
            <a class="nav-link" href="#">Create</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Notifications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Log Out</a>
        </li>
    </ul>
</nav>