<%- include('./partials/head') %>

<body class="landing-body">
    <div class="vertical-center">
        <div class="container-fluid landing">
            <div class="row landing-row">
                <h1 class="landing-title">Dev Tracker</h1>
            </div>
            <div class="row">
                <p class="landing-intro">
                    Welcome to the Dev Tracker, a project management site where you can create projects, file bugs, and track development progress.
                </p>
            </div>
            <div class="row landing-buttons">
                <div class="col col-btn-left">
                    <a href="/auth/login" class="btn btn-primary login-btn">Login</a>
                </div>
                <div class="col col-btn-right">
                    <a href="/auth/register" class="btn btn-primary login-btn">Register</a>
                </div>
            </div> 
        </div>
    </div>

<%- include('./partials/footer') %>
</body>
</html>